@import "./colours";
@import "./fonts";

#root, html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  background-color: $cream;
}


$offset: 50px;
#typography {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  pointer-events: none;
  background-color: transparent;
  font-family: 'Inter', sans-serif;

  #description {
    position: absolute;
    right: $offset;
    bottom: $offset;
    margin-right: 50px;
    width: 25%;
    font-weight: bold;
    font-size: 20px;
  }

  #titles {
    position: absolute;
    bottom: $offset;
    left: $offset;
    display: flex;
    flex-direction: column-reverse;

    h1, h2, h3 {
      margin: 5px;
    }

    h3 {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: -2px;
      margin-bottom: 0px;
    }
    h2 {
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -2px;
      margin-bottom: 12.5px;
    }
    h1 {
      letter-spacing: -5px;
      line-height: 170px;
      font-size: 225px;
      font-weight: bold;
      color: $red;
      margin-left: -5px;
    }
  }
}